<div id="spree-footer">
	<div class="ui grid container">
		<footer id="footer" class="two column row" data-hook>
		  <div id="footer-left" class="column" data-hook>
		    <p><%= Spree.t :powered_by  %>&nbsp;<%= link_to 'Spree', 'http://spreecommerce.com/' %></p>
		  </div>
		  <div id="footer-right" class="column" data-hook></div>
		</footer>
	</div>
</div>
