
<nav class="navbar eight wide column" id="top-nav-bar">
  <ul id="nav-bar" class="ui horizontal list" data-hook>
    <li id="search-bar" class="item" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>

</nav>
