<div id="shopby_categories">
        <div id="taxons" class="clearfix">
            <% @taxons_category.each do |taxon| %>
                <div class="category_wrapper">
                    <%= link_to image_tag(taxon.icon.url(:normal), :alt => taxon.name), seo_url(taxon) %>
                    <div class="_description">
                        <p class="_description_content">
                            <span>Shop By</span><br><strong><%= link_to taxon.name, seo_url(taxon)  %></strong>
                            </p>
                    </div>
                </div>
            <% end %>
    </div>
</div>
<!--end: look : Search By Categories / -->
